.md-title--catch {
  font-size: 4rem;
  font-weight: bold;
  color: #3e3e3e;
}

.md-text {
  color: #3e3e3e;
  line-height: 1.45;
}

.md-text--main {
  padding: 4rem 0 6rem;
  font-size: 1.5rem;
}

.md-text--small {
  font-size: 1.2rem;

  a {
    color: #5045af;
    text-decoration: underline;
  }
}
